
        </main>
        <footer>
            <div class="footer mobile">
                <div class="footer-form">
                    <h4>Abonnez-vous à notre newsletter:</h4>
                    <form method="post" action="/newsletter">
                        <div>
                            <label for="firstname"><i class="fa-regular fa-user"></i> Prénom:</label>
                            <input type="text" id="firstname" name="firstname" aria-label="champs obligatoire" required>
                        </div>
                        <div>
                            <label for="email"><i class="fa-solid fa-envelope"></i> E-mail :</label>
                            <input type="email" id="email" name="email" aria-label="champs obligatoire" required>
                        </div>
                        <div class="button">
                            <input type="submit" name="submit" value="S'abonner">
                        </div>
                    </form>
                </div>
                <div>
                    <h4>Des options de paiement très pratiques</h4>
                    <i class="fa-brands fa-cc-paypal" style="color: #00ffff;"></i>
                    <i class="fa-brands fa-cc-visa" style="color: #ff0000;"></i>
                    <i class="fa-brands fa-cc-mastercard" style="color: #ff8040;"></i>
                    <a class="terms" href="/privacy-terms">Conditions d'utilisation et Confidentialité</a>
                    <p lang="en">Copywrite &copy; Digital Pro 05/2023</p>
                </div>
                <div class="social_media">
                    <h4>Suivez-nous sur les réseaux sociaux</h4>
                    <ul>
                        <li><a href="https://fr.linkedin.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #0080ff;"></i></a></li>
                        <li><a href="https://fr-fr.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-facebook" style="color: #0000ff;"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram" style="color: #ff0080;"></i></a></li>
                        <li><a href="https://twitter.com/?lang=fr" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter" style="color: #0080c0;"></i></a></li>
                        <li><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube" style="color: #ff0000;"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="/js/readMore.js" type="text/javascript"></script>
        <script src="/js/MobiledropDownMenu.js" type="text/javascript"></script>
       <!-- <script src="../../js/javaScript.js" type="text/javascript"></script> -->
    </body>
</html>
