    <section>
        <h2>Smartphones:</h2>
        <div class="responsive">
            <div>
                <h3>Moto e13 - Aurora Green (Dual SIM)</h3>
                <img src="../../images/smartphones/smartphone1.svg" alt="image d'un smartphone">
                <ul>
                    <li>Processeur: UNISOC T606</li>
                    <li>Système d'exploitation: Android 11</li>
                    <li>Mémoire totale: 4 Go</li>
                    <li>Disque dur: 64 Go</li>
                    <li>Garantie: 2 ans</li>
                    <li>Écran: 6.5" HD+ (1600 x 720), 90Hz, 20:9</li>
                    <li>Carte graphique: ARM Mali-G57 GPU</li>
                    <li>Ports: Type-C port (USB 2.0)</li>
                    <li>Series MKTG Place Holder: 25000mAh</li>
                    <li>Bluetooth: Bluetooth® 5.0</li>
                    <li>Webcam: Front: 8MP / Back: 16MP</li>
                    <li>Connectivité: Wi-Fi 802.11 b/g/n & Bluetooth® 5.0</li>
                    <li>Lecteur d’empreintes digitales: Fingerprint Reader on side</li>
                </ul>
                <div>
                    <p class="show-specifications-btn" >Masquer les spécifications complètes</p>
                    <a class= "more-details-link" href="#">En Savoir Plus</a>
                </div>
                <div>
                    <p>363,12 €</p>
                    <p></p>
                </div>
                <div class="button">
                    <button>Ajouter Au Panier</button>
                </div>
            </div>
            <div>
                <h3>Moto e13 - Cosmic Black (Dual SIM)</h3>
                <img src="../../images/smartphones/smartphone2.svg" alt="image d'un smartphone">
                <ul>
                    <li>Processeur: UNISOC T606</li>
                    <li>Système d'exploitation: Android 11</li>
                    <li>Mémoire totale: 4 Go</li>
                    <li>Disque dur: 64 Go</li>
                    <li>Garantie: 2 ans</li>
                    <li>Écran: 6.5" HD+ (1600 x 720), 90Hz, 20:9</li>
                    <li>Carte graphique: ARM Mali-G57 GPU</li>
                    <li>Ports: Type-C port (USB 2.0)</li>
                    <li>Series MKTG Place Holder: 25000mAh</li>
                    <li>Bluetooth: Bluetooth® 5.0</li>
                    <li>Webcam: Front: 8MP / Back: 16MP</li>
                    <li>Connectivité: Wi-Fi 802.11 b/g/n & Bluetooth® 5.0</li>
                    <li>Lecteur d’empreintes digitales: Fingerprint Reader on side</li>
                </ul>
                <div>
                    <p class="show-specifications-btn" >Masquer les spécifications complètes</p>
                    <a class= "more-details-link" href="#">En Savoir Plus</a>
                </div>
                <div>
                    <p>363,12 €</p>
                    <p></p>
                </div>
                <div class="button">
                    <button>Ajouter Au Panier</button>
                </div>
            </div>
            <div>
                <h3>MOTO Phone XT2239-18 (Dual Sim)</h3>
                <img src="../../images/smartphones/smartphone3.svg" alt="image d'un smartphone">
                <ul>
                    <li>Processeur: UNISOC T606</li>
                    <li>Système d'exploitation: Android 11</li>
                    <li>Mémoire totale: 4 Go</li>
                    <li>Disque dur: 64 Go</li>
                    <li>Garantie: 2 ans</li>
                    <li>Écran: 6.5" HD+ (1600 x 720), 90Hz, 20:9</li>
                    <li>Carte graphique: ARM Mali-G57 GPU</li>
                    <li>Ports: Type-C port (USB 2.0)</li>
                    <li>Series MKTG Place Holder: 25000mAh</li>
                    <li>Bluetooth: Bluetooth® 5.0</li>
                    <li>Webcam: Front: 8MP / Back: 16MP</li>
                    <li>Connectivité: Wi-Fi 802.11 b/g/n & Bluetooth® 5.0</li>
                    <li>Lecteur d’empreintes digitales: Fingerprint Reader on side</li>
                </ul>
                <div>
                    <p class="show-specifications-btn" >Masquer les spécifications complètes</p>
                    <a class= "more-details-link" href="#">En Savoir Plus</a>
                </div>
                <div>
                    <p>363,12 €</p>
                    <p></p>
                </div>
                <div class="button">
                    <button>Ajouter Au Panier</button>
                </div>
            </div>
            <div>
                <h3>Moto e22i - Winter White (Dual Sim)</h3>
                <img src="../../images/smartphones/smartphone4.svg" alt="image d'un smartphone">
                <ul>
                    <li>Processeur: UNISOC T606</li>
                    <li>Système d'exploitation: Android 11</li>
                    <li>Mémoire totale: 4 Go</li>
                    <li>Disque dur: 64 Go</li>
                    <li>Garantie: 2 ans</li>
                    <li>Écran: 6.5" HD+ (1600 x 720), 90Hz, 20:9</li>
                    <li>Carte graphique: ARM Mali-G57 GPU</li>
                    <li>Ports: Type-C port (USB 2.0)</li>
                    <li>Series MKTG Place Holder: 25000mAh</li>
                    <li>Bluetooth: Bluetooth® 5.0</li>
                    <li>Webcam: Front: 8MP / Back: 16MP</li>
                    <li>Connectivité: Wi-Fi 802.11 b/g/n & Bluetooth® 5.0</li>
                    <li>Lecteur d’empreintes digitales: Fingerprint Reader on side</li>
                </ul>
                <div>
                    <p class="show-specifications-btn" >Masquer les spécifications complètes</p>
                    <a class= "more-details-link" href="#">En Savoir Plus</a>
                </div>
                <div>
                    <p>363,12 €</p>
                    <p></p>
                </div>
                <div class="button">
                    <button>Ajouter Au Panier</button>
                </div>
            </div>
        </div>
    </section>














