<%- include('../includes/_header') -%>

  <div class="userform">
      <h2>Trouver un smartphone:</h2>
      <form method="post" action="/find-smartphone" class="find_laptop_form">
          <div>
            <label>Entrez l'id du smartphone: </label>
            <input type="text"  name="id" placeholder="642aa6ded588139fe48dd584" aria-label="champs obligatoire" required>
          </div>
          <div class="button">
            <button type="submit">Trouver</button>
          </div>
      </form>
  </div>

<%- include('../includes/_footer') -%>