<%- include('../includes/_header') -%>

    <section class="products_container">
        <h2 class="all_products_header">Smartphones</h2>
        <div class="responsive read-more-container">
            <%- include('../includes/pcs/_smartphone') -%>
        </div>
    </section>

<%- include('../includes/_footer') -%>