<%- include('../includes/_header') -%>

    <section>
        <h2>Qui sommes-nous:</h2>
        <p>La page “Qui sommes-nous” (aussi appelée page “À propos”) est un contenu clé de votre site internet. Bien construite, elle peut servir à rassurer vos prospects et clients. C’est également l’espace idéal pour présenter votre entreprise autrement que par son offre et développer votre capital sympathie. Le tout en réaffirmant vos expertises et compétences.
            Mais, sur beaucoup de sites web, elle est négligée. Trois lignes jetées à la va-vite en toute fin de projet, “parce qu’il en faut bien une”. Le nom de l’entreprise, un peu de jargon corporate expliquant vaguement la mission et une photo de l’équipe pour “amener de l’humain”.
            Pourtant, avec un peu de méthode, il est possible de créer une page Qui sommes-nous vraiment mémorable. Et qui peut vous aider à faire la différence par rapport à vos concurrents. Alors, par où commencer ?</p>
        <h3>Déterminez vos attentes</h3>
        <p>Avant tout, posez-vous ces questions : qu’attendez-vous de cette page et quel est son objectif ? La page “Qui sommes-nous” peut être utile pour </p>
        <ul>
            <li>Regrouper les informations propres à l’identité de votre entreprise : sa mission, ses valeurs, son histoire…</li>
            <li>Être un élément de réassurance puissant pour convaincre vos visiteurs et les transformer en clients.</li>
            <li>Transmettre votre culture d’entreprise et diffuser votre image de marque.</li>
            <li>Présenter différemment votre société à travers les individus qui l’animent et valoriser vos collaborateurs et leurs compétences.</li>
        </ul>
        <p>Avec ces éléments, vous devriez avoir une meilleure idée du positionnement à adopter. Gardez ces informations en tête et passons à la prochaine étape.</p>
        <h3>Comment rédiger une page qui sommes-nous ?</h3>
        <p>La page “qui sommes-nous” d’un site e-commerce est absolument essentielle, mais elle est souvent ratée. Certains ne veulent pas prendre de temps pour ce qu’ils considèrent comme étant superflu. D’autres vont y passer des heures sans savoir où ils vont. Or, aujourd'hui les consommateurs sont en quête d'informations sur ce qui votre différence, sur l'équipe qui se cache derrière votre business, et sur vos valeurs et engagements.
            Bref, nous sommes là pour vous aider sur comment rédiger cette fameuse page "Qui sommes-nous", celle qui vous présente sur votre site professionnel.
            On vous a préparé une liste de 10 exemples de pages qui sommes-nous efficaces, on vous explique les points importants qui doivent figurer dans une page à propos et on vous donne toutes les clés pour savoir comment faire une page de présentation d'entreprise pour votre boutique en ligne. 
        </p>
    </section>

<%- include('../includes/_footer') -%>
