<%- include('../includes/_header') -%>

<section class="section_bg">
    <h2><i class="fa-solid fa-truck" style="color: #000000;"></i>Livraison Gratuite</h2>
    <p><strong>Profitez de la livraison gratuite</strong> sur vos achats en ligne grâce aux nombreuses offres proposées par vos sites de prédilection tels que Amazon, Cdiscount, La Redoute, Ikea, Oscaro...</p>
    <p>Vous êtes nombreux à chercher des codes promos pour une livraison offerte. C'est la raison pour laquelle nous faisons<strong> tout notre possible pour vous dénicher le meilleur !</strong></p>
    <p>Vous trouverez, dans cette rubrique, l'ensemble des bons plans permettant d'obtenir la livraison gratuite ou une réduction sur les frais de port pratiqués par les sites de vente en ligne pour une livraison pas cher.</p>
    <p>Les <strong>livraisons effectuées par La Poste (Colissimo) sont gratuites</strong> partout en France Métropolitaine <strong>à partir de 19 €€ </strong>de commande.</p>
    <p>Pour <strong>les livraisons urgentes partout en France Métropolitaine nous vous proposons l'option "DHL" (envoi en 24/48H).</strong> Les frais de ports applicables sont variables en fonction du montant de la commande (voir table)</p>
    <p>Nos délais de fabrication sont <strong>de 2 à 4 jours ouvrables</strong> à compter de la réception du paiement. Les délais de livraison sont de 2 à 4 jours + le délai d'acheminement relatif à la modalité de livraison choisie.</p>
    <p>Les expéditions de " Colissimo " sont assurées par La Poste partout en France Métropolitaine et les colis sont déposés dans la boîtes aux lettres à l'adresse que vous avez indiqué. Le délai moyen d'acheminement est de 72H. Les envois en 24/48H sont assurés par " DHL" partout en France Métropolitaine et les colis sont remis à leurs destinataires contre signature.</p>
</section>

<%- include('../includes/_footer') -%>