
<%- include('../includes/_header') -%>
    <section class="section_bg">
       <p> Page not found: erreurs 404 <a href="/">Retour à l'Acceuil</a></p>
    </section>
<%- include('../includes/_footer') -%>