/* angkor-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Angkor';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/angkor-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/************************************************************************************************************************************************
abeezee-regular - latin
**********************************************************************************************************************************************/
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/abeezee-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* abeezee-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/abeezee-v22-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


/**********************************************************************************************************************************************
* abhaya-libre-regular - latin
************************************************************************************************************************************************/

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/abhaya-libre-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* abhaya-libre-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/abhaya-libre-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* abhaya-libre-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/abhaya-libre-v14-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* abhaya-libre-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/abhaya-libre-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* abhaya-libre-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/abhaya-libre-v14-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


/* *******************************************************************************
****  global variables
******************************************************************************* */

:root {
/* genral *****************************************/
/*focus color */
    --bg-color-focus: rgb(0, 0, 255);
/*header variables : links text color*************/
    --text-color:  rgb(253, 254, 254);
    --bg-color: rgb(33, 47, 61);
    --border-radius: 5px;
    --gab-grid: 2rem;
    --padding-header-foooter-left-right: 1rem;

/* main *********************************************/
    --cursor: pointer;
    --border-blue-focus: 2px solid rgb(0, 0, 255);

    /* button variables *****************************/
    /** hover vars **/
    --bg-color-hover: rgb(151, 200, 255);
    --txt-color-hover: rgb(1, 0, 255);
    --radial-gradient-colors: radial-gradient(rgb(255,0,0), rgb(111, 0, 255), rgb(0, 0, 255));
    /** active vars **/
    --bg-color-active:  rgb(40, 116, 166);
    --btn-bg-color: rgb(33, 97, 140);
    --btn-border: 1px solid none;
    --btn-padding: 0.6rem;
    /* form ***************************************/
    --bg-color-form-gray: rgb(242, 244, 244);
/* shopping cart **************************************/
    --border_cart_product: 1px solid rgb(37, 142, 2);

/* max-width of the header and footer ****************/
    --max-width: 1500px;

/* footer variables *******************************/
    --bg-color-footer: rgb(93, 109, 126);
}

/**********************************************************************************
***  General reset
************************************************************************************/

html {
    font-size: 62.5%;
}

body * {
    box-sizing: border-box;
}

/* To ensure media is never larger than its responsive container */
picture,
img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* styles du modèle de démo */
body {
    font-size: 1.6rem;
    background-color: rgb(238, 238, 238);
    font-family: arial, sans-serif; 
    /*font-family: 'ABeeZee';
    font-style: normal;*/
    line-height: 2;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    background-color: var(--bg-color);
    margin: auto;
    padding: 2rem;
    max-width: 1400px;
    border: 1px solid rgb(185, 185, 185);
    display: none;
}

.nav,
.footer {
    max-width: var(--max-width);
}

/*******************************************************************************
**   Header
*******************************************************************************/
/* mobile drop down nav icon */
.nav_mobile {
    display: none;
}

header {
    background-color: var(--bg-color);
    padding: 0 var(--padding-header-foooter-left-right);
    margin: auto;
}

h2 {
    font-family: 'Angkor';
}

.myTrack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: drive;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes drive {
    from { transform: translateX(-50%) }
    to { transform: translateX(50%) }
}

.myTrack > p {
    color: var(--text-color);
    margin: 0;
}

.logo {
    font-weight: bold;
}

a {
    text-decoration: none;
    padding: var(--border-radius);
    border-radius: var(--border-radius);
}

a:focus,
img:focus {
    border: var(--border-blue-focus);
    border-radius: var(--border-radius);
}

img:hover {
    border: var(--border-blue-focus);
    border-radius: var(--border-radius);
}

input:focus {
    background-color: rgb(214, 234, 248);
}

.search-field {
    border: var(--border-radius)
}

.nav ul:nth-child(4) a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

.nav ul:first-child a {
    font-style: italic;
}

.nav ul:first-child a,
.nav ul:nth-child(2) a {
    color: var(--text-color);
}

.nav ul:nth-child(4) li {
    box-shadow: inset 3px 3px 3px 3px rgb(128, 128, 128), 2px 2px 2px 2px rgb(156, 156, 156);
}

.nav ul a,
footer input[type="submit"] {
    transition: 1s;
}

.nav ul a:hover,
footer input[type="submit"]:hover {
    color: var(--text-color);
    background: rgb(44, 44, 255);
}

.nav ul a:active,
footer input[type="submit"]:active {
    background-color: var(--bg-color-active);
}

.nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav ul:nth-child(4) {
    background-color: rgb(236, 240, 241);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

header li {
    margin: 0.1rem;
    color: var( --text-color);
}

.nav {
    margin: auto;
    max-width: var(--max-width);
    position: relative;
}

.nav img {
    max-width: 3rem;
}

/* user account drop down menu ***************************/
/* icon */
.user_drop_down_icon {
    cursor: var(--cursor);
}

/* content */
.user_drop_down_content {
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

.user_drop_down_content li {
    border-top:  1px solid var(--text-color);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-top: var(--border-radius);
}

.user_drop_down_content li:first-child {
    margin-top: 0;
    border-top: none;
}

.user_drop_down_content li a {
    color: var(--text-color);
}

/* toggle drop down content*/
.nav .user_drop_down_content_display {
    transition: height 1s;
    height: auto;
    transition: height 0.5s;
    position: absolute;
    background-color: var(--bg-color);
    display: block;
    width: max-content;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: 0;
    right: 0;
    padding-left: var(--border-radius);
}

/******************************************************************************
** main **
*******************************************************************************/
/* home background video styles ******************************/

.bg_video_container {
    box-sizing: border-box;
    margin: auto;
    position: relative;
    max-width: 2000px;
    width: 100%;
    height: 50vh;
    border-left: 1px solid rgb(185, 185, 185);
    border-right: 1px solid rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}

.bg_video_container .wellcome_text_wrapper {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    z-index: 1;
}

.wellcome_text_wrapper h1 {
    font-family: 'Angkor';
    margin-bottom: 2rem;
}

.bg_video_wrapper {
    position: absolute;
    box-sizing: border-box;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
}

/* others ***************************************/

.details_video {
    width: 100%;
}

.page_content {
    min-height: 55vh;
}

.section_bg {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: var(--border-radius);
    /*font-family: 'Abhaya Libre';
    font-style: normal;*/
}

.container ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.product_title {
    background-color: rgb(165, 165, 165);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    transition: 1s;
}

.product_title:hover {
    background-color: rgb(255, 226, 59);
    color: rgb(0, 0, 0);
}

.all_products_header {
    color: var(--text-color);
}

/* product display transitions **********/

.product_specifications {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: 2rem;
    height: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: inset 0.4rem 0.4rem 4px 4px rgb(128, 128, 128), 2px 2px 2px 2px rgb(128, 128, 128);
    opacity: 0;
    transition: all 1.5s ease;
}

.animate_product_display {
    opacity: 1;
    height: auto;
    animation: product_display 1s ease;
}

@keyframes product_display {
    0%{ transform: scale(0.5);}
    100%{ transform: scale(1);}
}

.product_specifications:hover {
    font-weight: bold;
    box-shadow: inset 0.5rem 0.5rem 5px 5px rgb(128, 128, 128),  2px 2px 2px 2px rgb(128, 128, 128);
    background-color: rgb(255, 248, 210);
    transform: scale(1.02);
}

/** show or hide  more details *****************************************/
/* 
.product_specifications ul {
   font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;
}
*/
.product_img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--bg-color);
    margin-bottom: 0.3rem;
}

.product_specifications .toggle_btn {
    color: 	rgb(0,0,255);
    transition: 0.5s;
}

.product_specifications .toggle_btn:hover {
    color: 	rgb(139, 0, 231);
    cursor: var(--cursor);
}

.product_specifications ul.active {
    height: auto;
}

/*.product_specifications .toggle_btn.active .fa-angle-down {
    transform: rotate(180deg);
}
*/
.product_description_ul {
    display: none;
}

.product_id {
    display: none;
}

.addToCart {
   /* background-color: var(--bg-color);*/
    padding: 1rem;
    border-radius: var(--border-radius);
}

/** more details link *********************************************/

.more-details-link-wrapper {
    margin: 0.5rem;
}

.more-details-link {
   color: rgb(0, 0, 255);
   padding: 0.5rem;
   transition: 0.5s;
}

.more-details-link:hover,
.deleteLaptopLink:hover {
    color: rgb(98, 0, 255);
    font-weight: bold;
}

.more-details-link:visited {
    color: rgb(128, 0, 128);
}

/*product availability*********************************************/

.product_available {
    color: rgb(0, 90, 0);
    font-weight: bold;
}

.product_unavailable {
    color: rgb(170, 0, 0);
    font-weight: bold;
}

/* general shoping cart styling ***************************************/

.delete_cart_item {
    padding: 0;
     margin: 0.3rem;
}

.delete_cart_item .fa-trash-can {
   padding: 0.5rem;
}

.cart_qty .fa-circle-plus,
.cart_qty .fa-circle-minus {
    color: var(--btn-bg-color);
    padding: 0.3rem;
    font-size: 2.5rem;
    transition: 0.5s;
}

.cart_qty .fa-circle-plus:hover,
.cart_qty .fa-circle-minus:hover {
    cursor: var(--cursor);
    color: rgb( 152, 0, 255 );
    transform: scale(1.1);
}

.remove_tag {
    transform: translateX(-100vw);
    transition: 2s;
    display: none;
}

/* cart animations *********************/

.cart_btn_icons {
    height: 0;
    overflow: hidden;
}

.spin_icon {
    height: auto;
    animation: spin 1.3s ease-in-out infinite;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

.checked_icon {
    height: auto;
}

/** order *********************************************************/

#order_form_inputs_wrapper {
    height: 0;
    overflow: hidden;
    display: none;
}

.order_message_succeed {
    color:  rgb( 46, 204, 113 );
    font-weight: bold;
}

.order_message_fail {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.order_btn .fa-circle-notch {
    height: 0;
    overflow: hidden;
}

.order_btn_spin_icon {
    height: auto;
    animation: spin 1.3s ease-in-out infinite;
}

/** all buttons styling ******************************************/
button,
.create-account-link {
    background-color: var(--btn-bg-color);
    border: var(--btn-border);
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    cursor: var(--cursor);
    color: var(--text-color);
    transition: 1s;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.3rem;
}

.button button {
    width: 80%;
}

button:hover,
.create-account-link:hover {
    background: var(--radial-gradient-colors);
    transform: scaleX(1.2);
}

button:active {
    background-color: var(--bg-color-active);
}

button:focus {
    color: var(--text-color);
    border: var(--border-blue-focus);
    background-color: rgb(0, 0, 255);
}

.toggle_btn {
    transition: 0.5s;
}

.toggle_btn:focus {
    border: var(--border-blue-focus);
    border-radius: var(--border-radius);
}

.toggle_btn:hover {
    color: rgb(86, 0, 167);
}

/*** return to home page link **/
.return-home {
    padding: var(--btn-padding);
}

.addToCart_btn_audio,
.cart_deleteicon_audio {
    display: none;
}

/* form styling ****************************************************/
form {
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
}

.userform,
.login_wrapper,
.add_laptop_wrapper {
    background-color: var(--bg-color-form-gray);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}

.userform > div {
    padding: 1rem;
}

.login_wrapper {
    padding: 1rem;
}

.userform p a {
    font-weight: bold;
}
/* contact form **********/
.contact_form {
   margin-bottom: 1.5rem;
}

textarea {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    border-radius: var(--border-radius);
}

form label,
form input {
    display: block;
    margin: 0.2em;
}

.userform input {
    width: 100%;
}

form div {
    margin: 0.5em;
}

form button {
    padding: 0.5em 3em;
}

input[type="checkbox"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0;
}

.checkbox-label {
    display: inline;
    margin-left: 0;
}

.create-account-link {
    padding: var(--btn-padding);
}

.create-account-link a {
    color: var(--text-color);
}

.emailError,
.email.error,
.passwordError,
.password.error {
  color: rgb(176, 31, 0);
}

/* admin dashboard styles *********************************************/
.espace_admin > div {
    background-color: var(--bg-color-form-gray);
    padding: 1rem;
    border-radius: var(--border-radius);
}
.espace_admin h4 {
    color: var(--bg-color-focus);
}

/* user dashboard styles *******************************************/

.user_dashboard_orders_wrapper > div:nth-child(odd) {
    background-color: var(--bg-color-form-gray);
}

.user_dashboard_orders_wrapper > div:nth-child(even) {
    background-color: rgb(225, 253, 255);
}

.user_dashboard_orders_wrapper > div {
    margin: 1rem;
    padding: 0.5rem;
}

.user_dashboard_orders_wrapper li {
    list-style-type: none;
}

.user_dashboard_orders_wrapper img {
    max-width: 5em;
}

/******************************************************************************
** footer **
******************************************************************************/

footer {
    background-color:  var(--bg-color-footer);
    padding: 0 var(--padding-header-foooter-left-right);
    text-align: center;
    margin: auto;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h4 {
    font-family: 'Angkor';
}

footer form {
    background-color: var(--bg-color-footer);
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-form form {
    display: flex;
    flex-direction: column;
}

.footer-form input,
.footer-form label {
    display: inline;
}

.footer-form input {
    border-radius: var(--border-radius);
}

footer input[type="submit"] {
    background-color: rgb(144, 12, 63);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.2em;
}

.footer .terms {
    display: block;
    color: var(--text-color);
    transition: 0.5s;
}

.footer .terms:hover {
    color: rgb(0, 0, 255);
}

.social_media .fa-brands {
    transition: 0.5s;
 }

.social_media .fa-brands:hover {
   border: 1px solid rgb(255, 255, 255);
   border-radius: 5px;
   transform: scale(1.2);
}

/******************************************************************************
** media queries **
*******************************************************************************/

/******************************************************************************
  smartphone  screen
********************************************************************************/
@media screen and (max-width: 480px) {

    /*****************************************************
         header
    * ***************************************************/
    .nav_desktop {
        display: none;
    }

    .nav_mobile {
        display: contents;
        position: relative;
    }

    header {
        border: 1px solid rgb(185, 185, 185);
        border-bottom: none;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    /* lists *****************************************************/
    .nav_mobile ul:first-child {
        border-bottom: 1px solid var(--text-color);
    }

    .nav_mobile ul:first-child li a {
        font-size: 1.3rem;
    }

    .logo {
        font-weight: bold;
    }

    .nav_mobile ul li a {
        color: var(--text-color);
        padding: 0.3rem;
        transition: 0.5s;
    }

    .drop_down_icon {
        transition: 0.5s;
    }

    .nav_mobile ul li a:hover,
    .drop_down_icon:hover {
        color: var(--text-color);
        background: rgb(44, 44, 255);
    }

    .nav_mobile .drop_down_content li {
        padding: 0.5rem 0;
    }

    .nav_mobile .drop_down_content li a {
        font-size: 1.5rem;
    }

    /* user drop down content ************************************** */
    .user_drop_down_content_mobile {
        height: 0;
        overflow: hidden;
        transition: height 1.5s;
    }

    .user_drop_down_content_mobile li {
        border-top:  1px solid var(--text-color);
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        padding-top: var(--border-radius);
    }

    .user_drop_down_content_mobile li:first-child {
        margin-top: 0;
        border-top: none;
    }

    .user_drop_down_content_mobile li a {
        color: var(--text-color);
    }

    /* toggle drop down content*/
    .nav_mobile .user_drop_down_content_display_mobile {
        height: auto;
        transition: height 1.5s;
        position: absolute;
        background-color: var(--bg-color);
        display: block;
        width: max-content;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        right: 0;
        padding-left: var(--border-radius);
    }

    /* drop down menu icons **************************************/

    .ussr_drop_down_icon {
        font-size: 2rem;
    }

    .nav_mobile .drop_down_icon {
        height: auto;
        color: var(--text-color);
        cursor: var(--cursor);
        font-size: 2rem;
    }

        /* search icons */
    .fa-magnifying-glass {
        font-size: 1.4rem;
        padding: 0.5rem;
    }

    .drop_down_content {
        height: 0;
        overflow: hidden;
    }

    .drop_down_content li {
        border-top:  1px solid var(--text-color);
    }

    .drop_down_content li:first-child {
        border-top: none;
    }

    /* toggle drop down content*/
    .drop_down_content_display {
        height: auto;
        transition: 1.5s;
        position: absolute;
        background-color: var(--bg-color);
        left: 0;
    }

    .rotate_drop_down-btn {
        transform: rotate(180deg);
    }

    /* forms ************************************************/
    .nav_mobile form input,
    .nav_mobile form button {
        font-size: 1rem;
    }

    .nav_mobile form input {
        border-radius: var(--border-radius);
    }

    .nav_mobile form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
    }

    .find_laptop_form {
        margin-bottom: 2rem;
    }

    .signup_section_mobile {
        margin-left: 5%;
        margin-right: 5%;
    }

/* shoping cart ************************************************/
    /* shopping cart products quantity link to cart.js file*/
    .cart_wrapper {
        border: var(--border_cart_product);
    }

    .cart_wrapper > h2 {
        border-bottom: var(--border_cart_product);
        padding-bottom: 0.5rem;
    }

    .mobile_productsQty {
        display: inline-block;
        background-color: rgb( 195, 34, 0);
        border-radius: 100%;
        text-align: center;
        font-size: 0.9em;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .cart_header_wrapper {
        height: 0;
        overflow: hidden;
    }

    .cart_product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cart_product_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border-bottom: var(--border_cart_product);
    }

    .cart_product_container span,
    .cart_product_container i {
        padding: 0.3rem;
    }

    .cart_product_title {
        font-weight: bold;
    }

    .cart_product img {
        height: 4em;
    }

    .cart_total {
        display: flex;
        justify-content: end;
        align-items: end;
        font-weight: bold;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .cart_btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .page_content {
        padding: 0;
    }

    .container {
        padding: 1.5rem;
    }

    /**********************************************************
        footer
    *******************************************************/

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color:  var(--bg-color-footer);
        color: var(--text-color);
        max-width: var(--max-width);
        margin: auto;
    }

    .footer div:nth-child(3) {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .footer .fa-brands {
        font-size: 3rem;
    }
}

/* *******************************************************************************
  tablette screen
*********************************************************************************/

@media screen and (min-width: 481px) {

    /* header *********************************************************/

    .nav ul:nth-child(2) {
        padding: 1rem 0;
    }

    .nav ul li a {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0;
    }

    .nav ul:first-child li a {
        font-size: 1.2rem;
    }

    /* search bar *****************************/
    .nav input,
    .nav button {
        display: inline-block;
        font-size: 1rem;
    }

    .nav input {
        border-radius: var(--border-radius);
    }

    .nav button {
        padding: 0.2rem;
    }

    .nav form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
    }

    /* main ***************************************************************/
    .responsive,
    .espace_admin {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .responsive > div,
    .espace_admin > div {
        width: 47.5%;
    }

    /* forms *************************************************************/

    .find_laptop_form {
        margin-top: 3rem;
        margin-bottom: 12rem;
    }

    .find_laptop_form label {
        padding: 0.5rem;
    }

    .product_Type {
        display: none;
    }

    .logo {
        font-size: 1em;
        font-weight: bold;
    }

    /* shoping cart ************************************************/
    /* shopping cart products quantity link to cart.js file*/

    .productsQty {
        display: inline-block;
        background-color: rgb( 195, 34, 0);
        border-radius: 100%;
        text-align: center;
        font-size: 0.9em;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .cart_wrapper {
        max-width: 980px;
        border: var(--border_cart_product);
    }

    .cart_wrapper > h2 {
        border-bottom: var(--border_cart_product);
        padding-bottom: 0.5rem;
    }

    .cart_header_wrapper {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    .product_header {
        width: 45%;
        margin-right: 0.3em;
    }

    .other_header {
        width: 18%;
    }

    .cart_product,
    .cart_product_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }

    .cart_product {
        justify-content: space-around;
    }

    .cart_product_title {
        font-weight: bold;
    }

    .cart_product img {
        height: 4em;
    }

    .cart_product_container {
        border-bottom: var(--border_cart_product);
    }

    .cart_total {
        display: flex;
        justify-content: end;
        align-items: end;
        font-weight: bold;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .cart_btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /** footer ************************* *******************************/
    .fa-brands {
        font-size: 3rem;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap-grid);
        background-color:  var(--bg-color-footer);
        color: var(--text-color);
        max-width: var(--max-width);
        margin : auto;
    }

    .footer > div {
        width: 100%;
    }

    .footer .social_media {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-bottom: 1.5rem;
        padding-left: 5%;
        padding-right: 5%;
        border-top: 1px solid var(--text-color);
    }
}

/*******************************************************************************
    laptop screen
******************************************************************************/
@media screen and (min-width: 730px) {

    /* header ******************************************/
    /* search bar *****************************/
    .nav input,
    .nav button {
        display: inline;
        margin: 0;
    }

    .nav input {
        border-radius: var(--border-radius);
    }

    .nav button {
        padding: 0;
    }

    .nav form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
    }

    .responsive {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gab-grid);
    }

    .responsive > div {
        width: 100%;
    }
    /*** user dashboard ***************************************************/

    .user_dashboard_single_order > div,
    .order_details_inner_list ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user_dashboard_single_order ul:last-child {
        display: flex;
        justify-items: center;
        justify-content: center;
    }

    .order_details_inner_list ul {
        margin: 0.5rem;
    }

    .order_details_inner_list ul li{
        margin: 1rem;
    }

    /* footer ****************************************************/
    .fa-brands {
        font-size: 3rem;
    }

    .logo {
        font-size: 1.2em;
    }
}

/********************************************************************************
  desktop screen
********************************************************************************/

@media screen and (min-width: 960px) {

    /* header *********************************************************/
    .nav ul li a {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .nav ul:nth-child(2) {
        padding: 1.2rem 0;

    }

    .nav ul:nth-child(2) a {
        font-size: 2rem;
    }

    .nav ul:first-child li a {
        font-size: 1.5rem;
    }

    /* search bar *****************************/
    .nav input,
    .nav button {
        font-size: 1.5rem;
    }

    .nav button {
        margin-top: 0.2rem;
        padding: 0.3rem;
    }

    .responsive {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gab-grid);
    }

    .responsive > div {
        width: 100%;
    }

    /** footer ************************* *******************************/
    .footer {
        display: flex;
        justify-content: space-between;
    }

    .footer .social_media {
        border-top: none;
    }

    .fa-brands {
        font-size: 4rem;
    }
}

