
<%- include('../includes/_header') -%>
    <section>
        <h2 class="all_products_header">Station de Travail</h2>
        <div class="responsive">
            <%- include('../includes/pcs/_allinOne') -%>
        </div>
    </section>
<%- include('../includes/_footer') -%>