<%- include('../includes/_header') -%>

    <section>
        <h2>Ordinateurs Portables</h2>
        <div class="responsive read-more-container">
            <%- include('../includes/pcs/_laptop') -%>
        </div>
    </section>

<%- include('../includes/_footer') -%>