<%- include('../includes/_header') -%>

<div class="container cart_wrapper section_bg">
    <h2>Mon panier</h2>
    <div class="cart_header_wrapper">
        <h5 class="product_header">Produit</h5>
        <h5 class="other_header">Prix</h5>
        <h5 class="other_header">Quantity</h5>
        <h5 class="other_header">Total</h5>
    </div>
    <div class="cart_product_wrapper">

    </div>
</div>

<%- include('../includes/_footer') -%>
