<%- include('../includes/_header') -%>

        <% if(order){ %>
            <p class="order_message_succeed"> Votre commande a été envoyer, merci pour votre confiance en DIGITAL PRO </p>
        <% } else { %>
            <p class="order_message_fail"> Votre commande n\'a pas été enregistrée, Veuillez réessayer </p>
        <% } %>
    </div>

<%- include('../includes/_footer') -%>