<%- include('../includes/_header') -%>
    <div class="section_bg">
        <% if(order){ %>
            <p class="order_message_succeed" id="order_succeed"><%= order %></p>
        <% } else { %>
            <p class="order_message_fail"> Votre commande n\'a pas été enregistrée, Veuillez réessayer </p>
        <% } %>
    </div>
    <script src="/js/shoppingCart/order-saved.js" type="text/javascript"></script>
<%- include('../includes/_footer') -%>