<%- include('../includes/_header') -%>

    <section>
        <h2>Retours gratuits:</h2>
        <p>Vous pouvez nous retourner la marchandise livrée, sans justificatif, dans le délai légal. Emballez soigneusement l’article à retourner et joignez-y le bordereau de retour afin que le montant des produits retournés soit crédité sur votre compte. Si les articles commandés ne vous conviennent pas, vous pouvez nous les retourner dans un délai de 100 jours à compter de la date de réception de votre colis. Veuillez noter ques ces modalités ne constituent pas une précondition à l'excercice effectif du droit de rétractation légal.
            Vous pouvez imprimer une étiquette de retour en cliquant ici (retours DHL) afin de bénéficier des frais de retour gratuits. Les retours sont toujours gratuits et acceptés dans un délai de 30 jours après la livraison. Le délai est prolongé pour les fêtes de fin d'année jusqu'au 08 janvier pour toute commande passée entre le 14 novembre et 08 décembre.</p>
        <h3>Comment faire un retour ?</h3>
        <p>Connectez-vous directement sur votre compte client dans l’onglet « Mes Commandes » . Sélectionnez votre commande ,
            puis, cliquez sur "retourner cette commande". Choisissez le ou les produits à renvoyer et cliquer sur "retourner ce produit".
            Précisez le motif du retour et cliquez sur "valider le retour". Vous pourrez alors télécharger votre bon de retour, l'imprimer
            et le joindre à votre colis retour. Vous pourrez également télécharger l'étiquette retour, à imprimer et à coller sur votre colis.
            Il ne vous reste plus qu'à déposer votre colis dans votre bureau de Poste ou votre point relais Chronopost le plus proche (liste
            des points relais disponible ici http://www.chronopost.fr/expeditionAvancee/ounoustrouver.html)
            Pour un meilleur traitement, nous vous remercierons de bien joindre le bon de retour rempli dans votre colis. </p>
        <h3>Comment faire un échange ?</h3>
        <p>Afin de simplifier le traitement des commandes, nous procédons au remboursement systématique des retours.
            Vous pouvez donc faire un retour gratuit qui vous sera remboursé à réception et recommander les nouveaux articles que vous souhaitez.
            Délai de remboursement
            Si les produits retournés sont neufs, non portés et dans leur emballage d’origine, nous vous remboursons dans les 5 jours ouvrés suivant le traitement du produit retourné.</p>
        <h3>Vous avez une question ? </h3>
        <p>Notre service client est disponible par email à web@mise-au-green.com ou par téléphone au 03 88 55 30 00 (du lundi au vendredi de 9h à 12h et de 13h30 à 17h30).</p>
        <h3>Choisissez votre mode de retour</h3>
        <p>Vous avez ensuite 3 solutions pour le retour : en boutique, en Point Relais ou par la Poste.Nous vous rembourserons par virement sur votre compte bancaire / Paypal dès traitement de votre retour par nos équipes logistiques ou sur votre carte bancaire pour un retour en boutique. </p>
        <h3>Préparez votre colis</h3>
        <p>Remettez les articles, non portés, non lavés, dans leur emballage d'origine.Déposez votre facture indiquant les motifs de vos retours et vos articles à retourner dans un colis adapté. </p>
        <h3>Préparez votre retour</h3>
        <p>Retrouvez votre facture sur votre compte client. Complétez les références concernées ainsi que le motif de retour.Glissez dans le colis la facture avec le produit qui doit être emballé strictement dans sa protection d'origine, avec son étiquette prix en parfait état (non arrachée, non pliée). L'article doit être réexpédié dans un colis offrant une protection suffisante. Le produit ne peut avoir servi et doit être en parfait état : neuf ! </p>
        <h3>Droit de rétractation</h3>
        <p>Si vous n’êtes pas satisfaits des produits reçus ou que vous avez simplement changé d’avis après avoir reçu le-mail de confirmation de votre commande, vous pouvez les retourner dans un délai de 30 (trente) jours à compter de la livraison des Produits. Vous pouvez ensuite vous faire rembourser.
            Vous pouvez exercer ce droit de rétractation sans pénalité et sans donner de raison. Veuillez noter que même si les produits demeurent en votre possession, vous êtes responsables de les conserver en lieu sûr, en sécurité et en bon état.
            En cas de retours en raison d’un changement d’avis (droit de rétractation), vous serez remboursés intégralement à l’exclusion des frais de port pour livraison express, si vous aviez choisi ce mode de livraison.</p>
        <h3>Garantie juridique des marchandises défectueuses</h3>
        <p>Outre ce qui précède, nous reconnaissons la garantie légale de 2 ans (ou toute période supérieure éventuellement énoncée dans la loi du pays concerné) en cas de défauts du produit. Un produit est dit « défectueux » s'il a été reçu endommagé ou bien si un défaut de fabrication ou un défaut du matériau apparaît dans un délai de 2 ans (ou toute période supérieure éventuellement énoncée dans la loi du pays concerné) à compter de l’achat. Veuillez noter que les produits endommagés en raison de leur usure ne sont pas considérés comme défectueux.
            Vous pouvez retourner les produits défectueux dans un délai de 2 ans à compter de la réception des produits et être remboursés intégralement, y compris des frais de port, le cas échéant.
            Si vous avez reçu le mauvais article (différent de celui affiché sur DickiesLife Shop) ou un article endommagé, vous pouvez le retourner dans un délai de 30 jours à compter de la date d’expédition. Veuillez suivre la procédure de retour standard et sélectionner « l’article était défectueux » comme motif de retour.</p>
        <h3>TARIFS POUR L'INTERNATIONAL</h3>
        <p>Royaume-Uni, Irlande, Italie, Espagne, Portugal, Suisse, Autrich
            Colissimo International Domicile à partir de 9€ (3-18 jours ouvrés après expédition)
            Suède, Danemark, Hongrie, Pologne, République Tchèque, Slovaquie, Slovénie, Estonie, Lettonie, Lituanie
            Colissimo International Domicile à partir de 10€ (3-18 jours ouvrés après expédition)
            Grèce, Islande, Finlande, Norvège, Turquie, Maghreb, territoires spécifiques Espagne et Portugal, autres pays Europe de l’Est
            Colissimo International Domicile à partir de 12€ (4-18 jours ouvrés après expédition)
            États-Unis, Canada, Australie, Chine, Japon, Hong Kong, Singapour, Corée du sud, Thaïlande, Vietnam, Inde, Russie, Israël
            Colissimo International Domicile à partir de 23€ (4-18 jours ouvrés après expédition)
            Afrique (hors Maghreb), Moyen-Orient, Amériques (hors États-Unis et Canada), autre pays d’Asie, Océanie (hors Australie)
            Colissimo International Domicile à partir de 30€ (4-18 jours ouvrés après expédition)
            DOM-TOM (hors Mayotte, St-Pierre-et-Miquelon)
            Colissimo International Domicile à partir de 13€ (5-18 jours ouvrés après expédition)
            DOM-TOM (avec Mayotte, St-Pierre-et-Miquelon)
            Colissimo International Domicile à partir de 18€ (5-18 jours ouvrés après expédition)</p>
    </section>
    
<%- include('../includes/_footer') -%>













