<%- include('../includes/_header') -%>

    <section>
        <h2>Tableau de bord </h2>
        <ul>
            <li>Mon panier</li>
            <li>Mes commandes</li>
            <li>Centre de messagerie</li>
            <li>Mes bons de réduction</li>
        </ul>
        <ul>
            <li>Coordonnées</li>
            <li>Gérer</li>
        </ul>
    </section>

<%- include('../includes/_footer') -%>