
<%- include('../includes/_header') -%>

    <section>
        <h2 class="all_products_header">Ordinateurs de Bureau</h2>
        <div class="responsive">
            <%- include('../includes/pcs/_monitor') -%>
        </div>
    </section>

<%- include('../includes/_footer') -%>